fastapi
uvicorn[standard]
sqlalchemy
pymysql
psycopg2-binary
cryptography
pydantic[email]
pydantic-settings
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
alembic
cloudinary
python-multipart
